body{
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(199, 55, 3); */
}
.search-box{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 30px;
    border: 2px solid rgb(4, 105, 131);
    border-radius: 40px;
    /* background-color: rgb(12, 11, 11); */
    background-color: #1e2b38;
    padding: 10px;
    margin-top: 4px;
}
.search-btn{
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(12, 11, 11); */
    background-color: #1e2b38;
    /* color:rgb(21, 17, 150); */
    color: #e67e22;
    width:30px;
    height: 30px;
    border-radius: 50%;
}
/* .search-box:hover > .search-text{
    width:400px;
    padding: 0px 6px;
} */
.search-box:hover > .search-btn{
    /* background-color: rgb(83, 81, 81); */
    background-color: rgb(63, 61, 61);
}
.search-text{
    float:left;
    color:white;
    border:none;
    background: none;
    outline:none;
    width:400px;
    padding:1px;
    transition: 0.4s;
    font-size: 17px;
    line-height: 27px;
}
select{
    display: flex;
    justify-content: left;
    position: absolute;
    top:8px;
    width: 0%;
    height: 0%;
    /* display: none; */
}
.search-box:hover > .meal{
    width:50px;
    height: 8px;
    padding: 0px 6px;
}